
* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}




/* .slider_bg_1 {
    background-image: url(../img/hompage/banner.png);
  } */

  .bg1{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 68rem;
    z-index: -5;
    overflow: hidden;
  }

.bg1 img {
    width: 90rem;
    height: auto;
    object-fit: cover;
    transform: translate(-1%, -15%);
}

  .heroNav{
    background-color: rgba(247, 244, 242, 1);
  }

  .hero {
    margin-top: 10rem;
    width: 100%;
    height: fit-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.heroCaption {
  background-color: transparent;
  width: 40%;
  height: fit-content;
  padding: 1rem;
}

.heroCaption .div1 {
  width: fit-content;
  height: fit-content;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  border-radius: 1234px;
  background-color: #E8DDD9;
}

.div1 p {
  font-family: Urbanist;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 10px;
}

.heroCaption h1 {
  position: relative;
  color: #4B3425;
  font-family: Urbanist;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2.88px;
  word-wrap: break-word;
  margin-bottom: -20px;
  z-index: 2;
}

.heroCaption h1 span {
  position: relative;
  color: #FE814B;
}

.heroCaption h5 {
  align-self: stretch;
  color: #1f160fa3;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.2px;
}

.heroButton {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hoverB {
  /* background: #a370f0; */
  color: #4B3425;
  font-family: inherit;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: fit-content;
  padding-right: 100px;
  cursor: pointer;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding: 15px;
  border-radius: 1000px;
}

.heroButton .button1 {
  width: 120px;
  color: #4B3425;
  border: solid 1px #4B3425;
  background-color: #FFF;
}

.heroPoster {
  align-self: flex-start;
  padding: 0;
  width: 450px;
  height: 700px;
  background-image: url(../img/phone.png);
  background-size: cover;
  padding: 20px;
}

.heroPoster img {
  margin: 55px 0 0 25px;
  width: 93%;
  height: auto;
}

.hero .gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.89) 60%, #ffffff 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 5;
}

.mxx {
  margin-right: 0.25rem!important;
  margin-left: 0.25rem!important;
}

.links {
  border-radius: 30px;
  position: relative;
}

.bg2 {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 70px 90px;
  justify-content: center;
  align-items: center;
  background-color: #F7F4F2;
}

.bg2 .purpose {
  width: fit-content;
  height: fit-content;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  border-radius: 1234px;
  background-color: #E8DDD9;
}

.psych {
  border-radius: 1000px;
}

.mxx-1 {
  margin-right: 0.25rem!important;
  margin-left: 0.25rem!important;
}

.textWellness{
  color: #926247;
}
.text1{
padding-top: 100px;
}

.bg2 .statz {
  width: 70%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.cad{
height: 80px;
width: 300px;
background-color: white;
border-radius: 10px;
justify-content: center;
}

.cad_space{
margin-left: 50px;
}

.counter{
  color: #4B3425;
    font-family: Urbanist;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: -10px 0 -10px 0;
}

.statsButton {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.statsButton .where {
  width: 270px;
  background-color: #E5EAD7;
  font-size: 14px;
}

.hoverButton .buttonIcon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 1500px;
  right: 0.3em;
  transition: all 0.3s;
}

.flex1{
display: flex;

}

.flex2{
display: flex;
margin-top: 30px;
}

.flex3{
display: flex;
padding-top: 10px;
}

.mx{
margin-left: 400px;
margin-top: 40px;
}
.mxx1{
margin-left: 400px;
}

.bg3{
  border-radius: 56px;
  background-color: #9BB068;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 70px;
}

.bg3 .firstDiv {
  background-color: #CFD9B5;
  width: fit-content;
  height: fit-content;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  border-radius: 1234px;
}

.psyche {
  border-radius: 1000px;
}

.bg3 .firstDiv p {
  color: #3D4A26;
    font-family: Urbanist;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 15px;
}

.featuresText {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.h3Text{
  color: #FFF;
    font-family: Urbanist;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.8px;
}

.bg3 .featuresText p {
  color: #E5EAD7;
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.bg3 .featuresGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: 16px;
  margin: auto;
}

.featuresGallery .features {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #FFF;
  width: 30%;
}

.featureImage svg {
  width: 70px;
  height: 70px;
  fill: #E5EAD7;
}

.features h5 {
  align-self: stretch;
  color: #4B3425;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.48px;
  margin-top: -10px;
  margin-bottom: -20px;
}

.features p {
  align-self: stretch;
  color: rgba(31, 22, 15, 0.64);
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.18px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.features .learnButton {
  width: 150px;
  background-color: #FFF;
  font-size: 14px;
}
.hoverButton {
  /* background: #a370f0; */
  color: #4B3425;
  font-family: inherit;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: fit-content;
  padding-right: 100px;
  cursor: pointer;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  padding: 15px;
  border-radius: 1000px;
}
.hoverButton .buttonIcon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 1500px;
  right: 0.3em;
  transition: all 0.3s;
}


